{% extends "base.html" %}


{% block title %}Менеджер задач Hexlet{% endblock %}


{% block headname %}Пользователи{% endblock %}


{% block content %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Полное имя</th>
      <th>Дата создания</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
      <tr>
        <td>{{ user.pk }}</td>
        <td>{{ user.nickname }}</td>
        <td>{{ user.name }} {{ user.surname }}</td>
        <td>{{ user.created_at }}</td>
        <td>
          <a href="/users/1/update/">Изменить</a>
          <br>
          <a href="/users/1/delete/">Удалить</a>
        </td>
      </tr>
      <tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
